flows.json
[
    {
        "id": "8e80067a.682938",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "209701fd.96662e",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": ""
    },
    {
        "id": "351b2a0c.b32566",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e36406f2.8ef798",
        "type": "inject",
        "z": "8e80067a.682938",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "dfad3dda.82fe2"
            ]
        ]
    },
    {
        "id": "c3c50023.3bbed",
        "type": "http request",
        "z": "8e80067a.682938",
        "name": "Recent Quakes",
        "method": "GET",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "8afc6cac.e0812"
            ]
        ]
    },
    {
        "id": "8afc6cac.e0812",
        "type": "csv",
        "z": "8e80067a.682938",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": 0,
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 460,
        "y": 80,
        "wires": [
            [
                "44779781.4190f8",
                "6f0eb546.9e208c"
            ]
        ]
    },
    {
        "id": "44779781.4190f8",
        "type": "debug",
        "z": "8e80067a.682938",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "6f0eb546.9e208c",
        "type": "switch",
        "z": "8e80067a.682938",
        "name": "",
        "property": "payload.mag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "7",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 140,
        "wires": [
            [
                "d78d4aa8.8c8208"
            ]
        ]
    },
    {
        "id": "d78d4aa8.8c8208",
        "type": "change",
        "z": "8e80067a.682938",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PANIC!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 200,
        "wires": [
            [
                "72fddece.fac0d"
            ]
        ]
    },
    {
        "id": "72fddece.fac0d",
        "type": "debug",
        "z": "8e80067a.682938",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 140,
        "wires": []
    },
    {
        "id": "59ff2a1.fa600d4",
        "type": "http in",
        "z": "209701fd.96662e",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "54c1e70d.ab3e18"
            ]
        ]
    },
    {
        "id": "54c1e70d.ab3e18",
        "type": "template",
        "z": "209701fd.96662e",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "266c286f.d993d8",
        "type": "http response",
        "z": "209701fd.96662e",
        "name": "",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "dfad3dda.82fe2",
        "type": "http request",
        "z": "8e80067a.682938",
        "name": "Recent Quakes",
        "method": "GET",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 340,
        "y": 340,
        "wires": [
            [
                "4341d5ad.ce8f4c",
                "a6274997.735d18"
            ]
        ]
    },
    {
        "id": "4341d5ad.ce8f4c",
        "type": "csv",
        "z": "8e80067a.682938",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": 0,
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 550,
        "y": 340,
        "wires": [
            [
                "d8aafda3.46223",
                "a6274997.735d18"
            ]
        ]
    },
    {
        "id": "d8aafda3.46223",
        "type": "debug",
        "z": "8e80067a.682938",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 340,
        "wires": []
    },
    {
        "id": "d6bd99f3.48cb58",
        "type": "http request",
        "z": "8e80067a.682938",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/hello",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 650,
        "y": 460,
        "wires": [
            [
                "a4c35a7c.2f4128"
            ]
        ]
    },
    {
        "id": "a4c35a7c.2f4128",
        "type": "debug",
        "z": "8e80067a.682938",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 420,
        "wires": []
    },
    {
        "id": "d1b3decf.05bd18",
        "type": "inject",
        "z": "351b2a0c.b32566",
        "name": "CSV data in",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "nid=2,count=10,speed=20,rssi=-10",
        "payloadType": "str",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "21346762.6eb0d"
            ]
        ]
    },
    {
        "id": "21346762.6eb0d",
        "type": "function",
        "z": "351b2a0c.b32566",
        "name": "Parser",
        "func": "//splits the data\n//Code snippet from\n//http://flows.nodered.org/flow/6572686\n\nvar data = msg.payload.split(\",\");\n\nmsg.payload = {}; //null msg obj and create new properties\n//may need to remove the parseint function \nmsg.payload.nodeid = parseInt(data[0].split(\"=\")[1]);\nmsg.payload.counter = parseInt(data[1].split(\"=\")[1]);\nmsg.payload.speed = parseFloat(data[2].split(\"=\")[1]);\nmsg.payload.rx_rssi = parseInt(data[3].split(\"=\")[1]);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 292.99998474121094,
        "y": 180,
        "wires": [
            [
                "1dc343e8.8950e4"
            ]
        ]
    },
    {
        "id": "4e61a55b.b13824",
        "type": "comment",
        "z": "351b2a0c.b32566",
        "name": "POST URL",
        "info": "https://docs.google.com/forms/d/YourformID/formResponse?entry.1077669989=NODEID&entry_10292411=COUNTER&entry_1862110215=SPEED&entry_1744026500=RXRSSI\n\nReplace YourformID in the URL",
        "x": 479.99998474121094,
        "y": 137.00000762939453,
        "wires": []
    },
    {
        "id": "1092fe22.4414f2",
        "type": "debug",
        "z": "351b2a0c.b32566",
        "name": "",
        "active": true,
        "console": false,
        "complete": false,
        "x": 663.0832977294922,
        "y": 180.08331298828125,
        "wires": []
    },
    {
        "id": "1dc343e8.8950e4",
        "type": "http request",
        "z": "351b2a0c.b32566",
        "name": "",
        "method": "GET",
        "paytoqs": "ignore",
        "url": "https://docs.google.com/forms/d/YouFormID/formResponse?entry.1077669989={{payload.nodeid}}&entry_10292411={{payload.counter}}&entry_1862110215={{payload.speed}}&entry_1744026500={{payload.rx_rssi}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 481.0832977294922,
        "y": 180.08331298828125,
        "wires": [
            [
                "1092fe22.4414f2"
            ]
        ]
    },
    {
        "id": "539b3cdf.bf55ac",
        "type": "comment",
        "z": "351b2a0c.b32566",
        "name": "Source",
        "info": "Be it serial or any other data source. ",
        "x": 98.08331298828125,
        "y": 128.0833282470703,
        "wires": []
    },
    {
        "id": "a6274997.735d18",
        "type": "function",
        "z": "8e80067a.682938",
        "name": "Parser",
        "func": "//splits the data\n//Code snippet from\n//http://flows.nodered.org/flow/6572686\n\nvar data = msg.payload.split(\",\");\n\nmsg.payload = {}; //null msg obj and create new properties\n//may need to remove the parseint function \nmsg.payload.nodeid = parseInt(data[0].split(\"=\")[1]);\nmsg.payload.counter = parseInt(data[1].split(\"=\")[1]);\nmsg.payload.speed = parseFloat(data[2].split(\"=\")[1]);\nmsg.payload.rx_rssi = parseInt(data[3].split(\"=\")[1]);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 600,
        "wires": [
            [
                "f2728ed1.5261b"
            ]
        ]
    },
    {
        "id": "e8e77c1.f2e368",
        "type": "comment",
        "z": "8e80067a.682938",
        "name": "POST URL",
        "info": "https://docs.google.com/forms/d/YourformID/formResponse?entry.1077669989=NODEID&entry_10292411=COUNTER&entry_1862110215=SPEED&entry_1744026500=RXRSSI\n\nReplace YourformID in the URL",
        "x": 497,
        "y": 557.0000076293945,
        "wires": []
    },
    {
        "id": "945ede7a.5b0a1",
        "type": "debug",
        "z": "8e80067a.682938",
        "name": "",
        "active": true,
        "console": false,
        "complete": false,
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "f2728ed1.5261b",
        "type": "http request",
        "z": "8e80067a.682938",
        "name": "",
        "method": "GET",
        "paytoqs": "ignore",
        "url": "https://docs.google.com/forms/d/YouFormID/formResponse?entry.1077669989={{payload.nodeid}}&entry_10292411={{payload.counter}}&entry_1862110215={{payload.speed}}&entry_1744026500={{payload.rx_rssi}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 498.08331298828125,
        "y": 600.0833129882812,
        "wires": [
            [
                "945ede7a.5b0a1"
            ]
        ]
    }
]